{{#with content}}
  <label for='photo_title'>Title</label>
  {{view Ember.TextField valueBinding="title" id="photo_title"}}
{{/with}}


<div>
  {{#if content.id}}
    <button type="sumbit">Update</button>
  {{else}}
    <button type="sumbit">Create</button>
  {{/if}}

  <a {{action destroyRecord target="controller"}}>Remove</a>
</div>