<h1>Photos</h1>
<table class='table table-striped'>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Url</th>
  </tr>

  {{#each photo in photos}}
    <tr>
      <td>{{photo.id}}</td>
      <td>{{#linkTo "photos.show" photo}}{{photo.title}}{{/linkTo}}</td>
      <td>{{photo.url}}</td>
    </tr>
  {{/each}}
</table>

{{#linkTo 'photos.new' class='btn btn-primary'}}Create{{/linkTo}}