<h1>{{title}}</h1>

<div>
  <q>{{title}}</q>
</div>

<div class='page-header'></div>

{{#linkTo 'photos.edit' content class='btn btn-primary'}}Edit{{/linkTo}}

{{#linkTo 'photos' class='btn'}}Back{{/linkTo}}